<a href="https://colab.research.google.com/github/arthurdecarvalho/machinelearning/blob/main/classifica_acessos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
from sklearn.metrics import accuracy_score

dados = pd.read_csv('acesso.csv')

In [68]:
dados.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [69]:
dados

    acessou_home  acessou_como_funciona  acessou_contato  comprou
0              1                      1                0        0
1              1                      1                0        0
2              1                      1                0        0
3              1                      1                0        0
4              1                      1                0        0
..           ...                    ...              ...      ...
94             0                      0                1        0
95             1                      1                1        1
96             0                      0                1        0
97             0                      1                0        0
98             0                      0                0        0

[99 rows x 4 columns]

In [70]:
mapa = {
    'acessou_home' : 'home',
    'acessou_como_funciona' : 'como_funciona',
    'acessou_contato' : 'contato'
}
dados = dados.rename(columns= mapa)

In [71]:
x = dados[['home', 'como_funciona', 'contato']]
x.head()

   home  como_funciona  contato
0     1              1        0
1     1              1        0
2     1              1        0
3     1              1        0
4     1              1        0

In [72]:
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [73]:
dados.shape

(99, 4)

In [74]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

In [75]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(treino_x, treino_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [76]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0])

In [77]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracia foi %.2f%%' % acuracia)

A acuracia foi 91.67%

In [81]:
len(treino_x), len(treino_y)

(75, 75)

In [82]:
len(teste_x), len(teste_y)

(24, 24)

In [83]:
treino_x.value_counts()

home  como_funciona  contato
1     0              1          23
0     0              1          21
1     1              0          18
0     1              0          10
1     1              1           2
0     1              1           1
dtype: int64